PERSONALCLOUD_STORAGE_ROOT=../../storage-root
PERSONALCLOUD_TRASH_DIR=.personalcloud-trash
PERSONALCLOUD_SERVICE_NAME=personalcloud-storage
PERSONALCLOUD_INTERNAL_API_TOKEN=change-this-local-service-token
PERSONALCLOUD_ALLOW_INSECURE_API=false
PERSONALCLOUD_MAX_TEXT_PREVIEW_BYTES=1048576
